html, body {
  margin: 0;
  padding: 0;
  background-color: #e0fff5;
}
#button{
  background-color: #8dbdcc;
  border-color: #3c8399;
  color: #caffee;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Roboto";
  border-radius: 4px;
  transition-duration: 0.4s;
  margin-left: 70px;
}
#button:hover{
  background-color:#3c8399;
  border-color: #3c8399;
  color: #caffee;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#button:active{
  transform: translateY(4px);
}
#button2{
  background-color: #ff918a;
  border-color: #cc8d9f;
  color: #caffee;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Roboto";
  border-radius: 4px;
  transition-duration: 0.4s;
  margin-left: 170px;
  margin-top: 30px;
}
#button2:hover{
  background-color:#cc8d9f;
  border-color:#ff918a;
  color: #caffee;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#button2:active{
  transform: translateY(4px);
  }
#button3{
  background-color: #8dbdcc;
  border-color: #3c8399;
  color: #caffee;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Roboto";
  border-radius: 4px;
  transition-duration: 0.4s;
  margin-left: 70px;
  margin-top: 30px;
}
#button3:hover{
  background-color:#3c8399;
  border-color:#8dbdcc;
  color: #caffee;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#button3:active{
  transform: translateY(4px);
  }
p{
  font-family: "Raleway", thin, sans-serif;
  }
.tussentitels{
  font-family: "Raleway", thin, sans-serif;
  text-indent: 50px;
  font-weight: bold;
  font-size: 200%;
  margin-left: 20px;
  }
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  }
input[type=text]:focus {
  border: 3px solid #3c8399;
}
.footer{
  background-color: #3c8399;
  font-size: 70%;
  margin: none;
  font-family: "Raleway", thin, sans-serif;
  padding: 15px;
  bottom: 0;
  width: 100%;
  margin-top: 70px;
  color: black;
}
.company_logo { /* eerst van de a een block-element maken */
  width: 50px;
  height:69px;
  float: left;
  /* background*/
  background-image: url(../img/logo-02.png);
  background-repeat: no-repeat;
  background-size: 55% auto;
  /* magic: tekst laten verdwijnen, door deze naar links op te schuiven */
  overflow: hidden;
  text-indent:-900px;
  margin-left: 20px;
  
}
.styleguide{
  background-color: none;
}
.fotohome{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.quote{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#buttonhome{
  background-color: #8dbdcc;
  border-color: #3c8399;
  color: #caffee;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Roboto";
  border-radius: 4px;
  transition-duration: 0.4s;
  margin-left: 470px;
  margin-bottom: 50px;
}
#buttonhome:hover{
  background-color:#3c8399;
  border-color: #3c8399;
  color: #caffee;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#button:active{
  transform: translateY(4px);
}
h1{
  font-size: 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto";
}
.foto_diensten {
  width: 200px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.foto_diensten:hover, .foto_diensten:focus, .foto_diensten:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
.foto_diensten:hover{ 
background-size: 100%; 
transition: 0.5s; 
background-position: center;
}

#tekstzon{
  margin-left: 65px;
  font-size: 16px;
  font-family: "Roboto";
}
#tekstlogo{
  margin-left: 43px;
  font-size: 16px;
  font-family: "Roboto";
}
#tekstcomputer{
  margin-left: 67px;
  font-size: 16px;
  font-family: "Roboto";
}
#tekstprinter{
  margin-left: 70px;
  font-size: 16px;
  font-family: "Roboto";
}
.foto_dienstenx {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  margin-left: auto;
  margin-right: auto;
  display: block
}
.foto_dienstenx:hover, .foto_dienstenx:focus, .foto_dienstenx:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.tekstillustraties{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.styleguide{
  text-decoration: none;
  font-family: "Roboto";
  color: black;
}
.styleguide:active{
  color: black;
}
form{
  width: 500px;
  margin-left:auto;
  margin-right:auto;
}
textarea[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  }
textarea[type=text]:focus {
  border: 3px solid #3c8399;
  }
  .buttonport1{
    margin-left: 290px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }
  .buttonport2{
    margin-left: 280px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }
  .buttonport3{
    margin-left: 278px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align:center;
  }
  .buttonport4{
    margin-left: 270px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align:center;
  }
  .foto_diensteny {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20px;
}
.foto_diensteny:hover, .foto_diensteny:focus, .foto_diensteny:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}