ul{
    margin-top:0px;
    float: none;
    list-style: none;
}
li{
display: inline;
margin: 0 10px 0 0;
color:rgba(0,255,196,1.0);
float: left;
}
a{
    display:block;
    padding:8px;
    padding-left: 100px;
    text-decoration: none;
    color: #0087ff;
    font-family: 'Raleway', sans-serif;

}
