.main-navigation ul{
    margin-top:0px;
    float: none;
    list-style: none;
}
.main-navigation li{
display: inline;
margin: 0 10px 0 0;
color:#CEE7E2;
}
.main-navigation a{
    padding:8px;
    padding-left: 100px;
    text-decoration: none;
    color: #0087ff;
    font-family: 'Raleway', sans-serif;
}
nav{
    width: 100%;
}
nav a{
    margin: none;
    padding: none;
}
nav a:hover{
  background-color: #ff918a;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
nav a:active{
  transform: translateY(4px);
}
